


h1 {
	color: red;
	size = 500;
	background: rgb(36,3,0);
	background: linear-gradient(90deg, rgba(36,3,0,1) 10%, rgba(121,9,96,1) 46%, rgba(0,212,255,1) 98%);
}

h2 {
color: rgba(100, 100, 0, 1.0);
}

body {
	color: whitesmoke;
	background: rgb(36,3,0);
	background: linear-gradient(45deg, rgba(36,3,0,1) 4%, rgba(121,9,96,1) 46%, rgba(0,212,255,1) 98%);

}